{% extends 'tareas/layouts/base.html' %}
{% load static %}


{% block content %}
<h1>Oliwis {{user.username}} </h1>

<h2>Bienvenid@ a tus tareas</h2>
<p>Seleccióna (Agregar Tarea) para iniciar una nueva tarea:</p>  

<a href="{% url 'crearTarea' %}">Agregar Tarea</a>

<div class="container col-6 mt-3" >
    <table class="table table-dark table-hover">        
        <thead>
            <tr>      
            <th></th> 
            <th>
                <ul class="nav nav-tabs">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Etiquetas</a>
                            <ul class="dropdown-menu">
                                <form method="GET">
                                    <label for="etiqueta_tarea"></label>
                                    <select name="etiqueta_tarea" id="etiqueta_tarea">
                                        <li><option value="">Todas</option></li>
                                        <li><option value="1">prueba</option></li>
                                        <li><option value="3">deportes</option></li>
                                        <li><option value="4">estudios</option></li>
                                        <li><option value="5">otro</option></li>
                                    </select>
                                    <input type="submit" value="filtrar">
                            </form>
                        </ul>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Tareas Completadas</a>
                    </li>
                </ul>
            </th> 
            <th></th> 
            </tr>
      </thead> 
      <thead>
        <tr>
          <th>Nombre Tarea </th>   
          <th>Estado</th> 
          <th>ver más</th>
        </tr>
      </thead>
      
      <tbody>
        {% for tarea in context %}
        <tr>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.estados }}</td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ tarea.id }}">
            Ver 
            </button></td>
        </tr>
        <div class="modal fade" id="exampleModal{{ tarea.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ tarea.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel{{ tarea.id }}">{{ tarea.titulo }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">                        
                        <h3> Descripción = {{ tarea.descripcion }}</h3>
                        <h3> <img src="{% static "tareas/img/calendario.png" %}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">  {{ tarea.vencimiento }}  </h3>
                        <h3> <div class="spinner-border text-info"></div> {{ tarea.estados }} </h3>
                        <h3> Usuario = {{ tarea.identificador }}</h3>
                        <h3> Etiqueta = {{ tarea.etiqueta_tarea }}</h3> 
                        <h3> {{tarea.comentario}} </h3>

                        <div class="form-floating">
                            <form action="{% url 'comentario' tarea.id %}" method="POST">
                                {% csrf_token %}
                                <textarea class="form-control" name="comentario" placeholder="Leave a comment here" style="height: 100px">Modifica aquí tu comentario</textarea>
                                <br>
                                <button class="btn btn-info" type="submit">Guardar Comentario</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Retornar</button>   
                        <form action="{% url 'cambiarEstado' tarea.id %}" method='POST' style="display: inline;">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Completar</button>
                        </form>                        
                        <form action="{% url 'eliminarTarea' tarea.id %}" method='POST' style="display: inline;">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form> 
                        <a href="{% url 'editarTarea' tarea.id %}" class="btn btn-link">Editar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock content %}




